---
---

<footer>
	<div class="center" dir="ltr" lang="en">

		<ul class="footer-links">
			<li>
				<a class="slack" href="https://prod-uk-a.online.tableau.com/#/site/vitessebi/explore">
					<span class="sr-only">Tableau</span>
					<svg viewBox="0 0 250 250"
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
						>
						  <style>
								.st3{fill:#eeeee4}
							</style>
						  <path class="st3" d="M118.53 168.28h13.68v-37.31h34.41V117.7h-34.41V80.39h-13.68v37.31h-34v13.27h34v37.31z"/>
							<path class="st3" d="M55.1 222.18h11.61v-33.17h30.68v-10.36H66.71v-33.58H55.1v33.58H24.42v10.36H55.1v33.17z"/>
							<path class="st3" d="M184.04 102.36h11.61V69.19h31.09v-9.95h-31.09V25.66h-11.61v33.58h-30.68v9.95h30.68v33.17z"/>
							<path class="st3" d="M120.6 248.3h9.95v-23.63h21.14v-8.71h-21.14v-23.63h-9.95v23.63H99.87v8.71h20.73v23.63z"/>
							<path class="st3" d="M55.51 102.36h10.78V68.78h31.09v-9.54H66.29V25.66H55.51v33.58H24.42v9.54h31.09v33.58z"/>
							<path class="st3" d="M219.28 152.11h9.95V128.9h21.14v-9.12h-21.14V96.56h-9.95v23.22h-20.73v9.12h20.73v23.21z"/>
							<path class="st3" d="M184.04 222.18h11.61v-33.17h31.09v-10.36h-31.09v-33.58h-11.61v33.58h-30.68v10.36h30.68v33.17z" style="fill-rule:evenodd;clip-rule:evenodd"/>
							<path class="st3" d="M150.04 31.47v-7.05h-20.73V1.62h-7.46v22.8h-20.73v7.05h20.73v22.8h7.46v-22.8h20.73zM21.1 150.45h7.46v-22.8h20.73v-7.05H28.56V98.22H21.1v22.39H.37v7.46l20.73-.41v22.79z"/>

					</svg>
				</a>
			</li>
			<li>
				<a class="databricks" href="https://adb-6825618245762443.3.azuredatabricks.net">
					<span class="sr-only">Databricks</span>
					<svg viewBox="0 0 250 250"
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
					>
			  	<path d="m228.18 102.9-103.07 58.43L15.6 99.09l-5.12 2.76v45.17l114.76 65.39 103.07-58.43V178l-103.07 58.43L15.6 174.2l-5.12 2.76v7.62l114.76 65.39 115.15-65.39V139.4l-5.12-2.76-110.16 62.24-102.68-58.43v-23.63l102.68 58.04 115.15-65.39V64.95l-5.91-3.15-109.24 61.84-97.17-55.27 97.16-54.88 80.23 45.17 7.22-3.81v-5.51L125.11-.04 10.35 65.08v6.96l114.76 65.39L228.18 79v23.9z" style="fill:#ef3e2c"/>
					</svg>
				</a>
			</li>
			
			<li>
				<a class="slack" href="https://vitessepsp.slack.com/archives/C05LZH09QRY">
					<span class="sr-only">Slack</span>
					<svg viewBox="0 0 250 250"
					xmlns="http://www.w3.org/2000/svg"
					width="25"
					height="25"
					>
						<path d="M52.81 157.85c0 14.4-11.76 26.16-26.16 26.16S.5 172.25.5 157.85s11.76-26.16 26.16-26.16h26.16v26.16zm13.18 0c0-14.4 11.76-26.16 26.16-26.16s26.16 11.76 26.16 26.16v65.49c0 14.4-11.76 26.16-26.16 26.16s-26.16-11.76-26.16-26.16v-65.49z" style="fill:#e0225b"/>
						<path d="M92.15 52.81c-14.4 0-26.16-11.76-26.16-26.16S77.75.5 92.15.5s26.16 11.76 26.16 26.16v26.16c0-.01-26.16-.01-26.16-.01zm0 13.18c14.4 0 26.16 11.76 26.16 26.16s-11.76 26.16-26.16 26.16H26.66C12.26 118.31.5 106.55.5 92.15s11.76-26.16 26.16-26.16h65.49z" style="fill:#39c5ef"/>
						<path d="M197.19 92.15c0-14.4 11.76-26.16 26.16-26.16s26.16 11.76 26.16 26.16-11.76 26.16-26.16 26.16h-26.16V92.15zm-13.18 0c0 14.4-11.76 26.16-26.16 26.16s-26.16-11.76-26.16-26.16V26.66c0-14.4 11.76-26.16 26.16-26.16s26.16 11.76 26.16 26.16v65.49z" style="fill:#2fb77e"/>
						<path d="M157.85 197.19c14.4 0 26.16 11.76 26.16 26.16s-11.76 26.16-26.16 26.16-26.16-11.76-26.16-26.16v-26.16h26.16zm0-13.18c-14.4 0-26.16-11.76-26.16-26.16s11.76-26.16 26.16-26.16h65.49c14.4 0 26.16 11.76 26.16 26.16s-11.76 26.16-26.16 26.16h-65.49z" style="fill:#ebb22d"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</footer>

<style>
	footer {
		padding: 1rem 0 1rem;
		text-align: center;
		color: var(--theme-text-lighter);
		font-size: var(--theme-text-xs);
	}

	.footer-links {
		display: flex;
		gap: 2em;
		justify-content: center;
		list-style: none;
		padding: 0;
	}

	.footer-links a {
		color: var(--theme-text-lighter);
		text-decoration: none;
	}

	.footer-links a:focus,
	.footer-links a:hover {
		color: var(--theme-text);
		text-decoration: underline;
	}
</style>


